<!DOCTYPE html>
<html>
<head>
	<title>Delete Student</title>
</head>
<body>
<h1>Here we will delete a student</h1>
<form action="/students/delete" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Delete</button>
</body>
</html>